<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UI" value="ConsoleView"/>
    <add key="DBFactory" value="XMLDBFactory"/>
    <add key="Repository" value="persistence"/>
  </appSettings>
</configuration>